name: Laravel CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code source
        uses: actions/checkout@v5


      - name: Run test
        run: cd app && composer install && cp .env.exemple .env && php artisan key:gen && php artisan test




















