name: Laravel CI

on:
  push:
    branches: [main]

jobs:
  builds:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code source
        uses: action/checkout@v5


      - name: Run test
        run: cd app && composer install && php artisan serve